body {
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     box-sizing: border-box;
}

/* layout */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    height: calc(100vh - 240px);
}

/* header */

.head {
    position: relative;
    width: 100%;
    height: auto;
    justify-content: center;
}

.head > div {
    padding: 0 50px;
}

.month {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 6rem;
    width: 580px;
    text-align: center;
}

.arrow-f, .arrow-b {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* day headings */

.days {
    width: 100%;
    margin: 50px 0px;
    text-align: center;
}

/* cells */

.weeks {
    width: 100%;
    height: 100%;
}

.cell {
    position: relative;
    display: inline-block;
    flex: 1;
    text-align: center;
    height: 100%;
    font-size: 1.75em;
    border-right: solid 1px rgba(255,255,255,0.6);
    border-top: solid 1px rgba(255,255,255,0.6);
    transition: 0.5s ease-out;
}

.cell:hover {
    cursor: pointer;
    background-color: rgb(57, 57, 126);
    transition: 0.25s ease-out;
}

.number {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.disabled {
    background-color: rgba(255,255,255,0.6);
    pointer-events: none;
  }

  /* color changer */

  .switch {
    transition: 0.2s ease-out;
  }

  .January {
    background: linear-gradient(to right, #ec008c
    , #fc6767);
  }
  .February{
    background: linear-gradient(to right,  #B993D6 
    , #8CA6DB);
  }
  .March{
    background: linear-gradient(to right, #EECDA3
    , #EF629F);
  }
  .April{
    background: linear-gradient(to right, #4ECDC4
    , #0b8793);
  }
  .May{
    background: linear-gradient(to right, #11998e
    , #38ef7d);
  }
  .June{
    background: linear-gradient(to right, #ff9966
    , #ff5e62);
  }
  .July{
    background: linear-gradient(to right, #FDC830
    , #F37335);
  }
  .August{
    background: linear-gradient(to right, #FF416C
    , #FF4B2B);
  }
  .September {
    background: linear-gradient(to right, #00d2ff
    , #3a7bd5);
  }
  .October{
    background: linear-gradient(to right, #7474BF
    , #348AC7);
  }
  .November{
    background: linear-gradient(to right, #ddd6f3
    , #faaca8);
  }
  .December{
    background: linear-gradient(to right, #4CA1AF
    , #C4E0E5);
  }